# Tratamento dos Dados

In [2]:
## Importação de bibliotecas 
# Pagode do Revela - Pot-Pourri: Coração Radiante

In [2]:
pip install emoji --upgrade

Requirement already satisfied: emoji in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install streamlit_folium

Collecting streamlit_folium
  Using cached streamlit_folium-0.11.1-py3-none-any.whl (423 kB)
Requirement already satisfied: streamlit>=1.13.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit_folium) (1.22.0)
Requirement already satisfied: folium>=0.13 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit_folium) (0.14.0)
Requirement already satisfied: jinja2 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit_folium) (3.1.2)
Requirement already satisfied: branca in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit_folium) (0.6.0)
Requirement already satisfied: numpy in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from folium>=0.13->streamlit_folium) (1.24.3)
Requirement already satisfied: requests in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from folium>=0.13->streamlit_folium) (2.29.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from jinja2->streamlit_folium) (2.1.2)
Requirement already satisfied: altair<5,>=3.2.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (4.2.2)
Requirement already satisfied: blinker>=1.0.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (1.6.2)
Requirement already satisfied: cachetools>=4.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (5.3.0)
Requirement already satisfied: click>=7.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (8.1.3)
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (6.6.0)
Requirement already satisfied: packaging>=14.1 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (23.1)
Requirement already satisfied: pandas<3,>=0.25 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (2.0.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (9.5.0)
Requirement already satisfied: protobuf<4,>=3.12 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (3.20.3)
Requirement already satisfied: pyarrow>=4.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (12.0.0)
Requirement already satisfied: pympler>=0.9 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (1.0.1)
Requirement already satisfied: python-dateutil in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (2.8.2)
Requirement already satisfied: rich>=10.11.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (13.3.5)
Requirement already satisfied: tenacity<9,>=8.0.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (8.2.2)
Requirement already satisfied: toml in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (0.10.2)
Requirement already satisfied: typing-extensions>=3.10.0.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (4.5.0)
Requirement already satisfied: tzlocal>=1.1 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (5.0.1)
Requirement already satisfied: validators>=0.2 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (0.20.0)
Requirement already satisfied: gitpython!=3.1.19 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (3.1.31)
Requirement already satisfied: pydeck>=0.1.dev5 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (0.8.1b0)
Requirement already satisfied: tornado>=6.0.3 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (6.3)
Requirement already satisfied: watchdog in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from streamlit>=1.13.0->streamlit_folium) (3.0.0)
Requirement already satisfied: entrypoints in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from altair<5,>=3.2.0->streamlit>=1.13.0->streamlit_folium) (0.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from altair<5,>=3.2.0->streamlit>=1.13.0->streamlit_folium) (4.17.3)
Requirement already satisfied: toolz in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from altair<5,>=3.2.0->streamlit>=1.13.0->streamlit_folium) (0.12.0)
Requirement already satisfied: colorama in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from click>=7.0->streamlit>=1.13.0->streamlit_folium) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from gitpython!=3.1.19->streamlit>=1.13.0->streamlit_folium) (4.0.10)
Requirement already satisfied: zipp>=0.5 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from importlib-metadata>=1.4->streamlit>=1.13.0->streamlit_folium) (3.15.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from pandas<3,>=0.25->streamlit>=1.13.0->streamlit_folium) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from pandas<3,>=0.25->streamlit>=1.13.0->streamlit_folium) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from python-dateutil->streamlit>=1.13.0->streamlit_folium) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from requests->folium>=0.13->streamlit_folium) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from requests->folium>=0.13->streamlit_folium) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from requests->folium>=0.13->streamlit_folium) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from requests->folium>=0.13->streamlit_folium) (2022.12.7)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from rich>=10.11.0->streamlit>=1.13.0->streamlit_folium) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from rich>=10.11.0->streamlit>=1.13.0->streamlit_folium) (2.15.1)
Requirement already satisfied: backports.zoneinfo in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from tzlocal>=1.1->streamlit>=1.13.0->streamlit_folium) (0.2.1)
Requirement already satisfied: decorator>=3.4.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from validators>=0.2->streamlit>=1.13.0->streamlit_folium) (5.1.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit>=1.13.0->streamlit_folium) (5.0.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit>=1.13.0->streamlit_folium) (23.1.0)
Requirement already satisfied: importlib-resources>=1.4.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit>=1.13.0->streamlit_folium) (5.12.0)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit>=1.13.0->streamlit_folium) (1.3.10)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit>=1.13.0->streamlit_folium) (0.19.3)
Requirement already satisfied: mdurl~=0.1 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich>=10.11.0->streamlit>=1.13.0->streamlit_folium) (0.1.2)
Installing collected packages: streamlit_folium
Successfully installed streamlit_folium-0.11.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install folium

Collecting folium
  Using cached folium-0.14.0-py2.py3-none-any.whl (102 kB)
Collecting branca>=0.6.0 (from folium)
  Using cached branca-0.6.0-py3-none-any.whl (24 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from folium) (1.24.3)
Requirement already satisfied: requests in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from folium) (2.29.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from jinja2>=2.9->folium) (2.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from requests->folium) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from requests->folium) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from requests->folium) (2022.12.7)
Installing collected packages: branca, folium
Successfully installed branca-0.6.0 folium-0.14.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install plotly

Collecting plotly
  Downloading plotly-5.14.1-py2.py3-none-any.whl (15.3 MB)
                                              0.0/15.3 MB ? eta -:--:--
                                              0.0/15.3 MB ? eta -:--:--
                                             0.1/15.3 MB 660.6 kB/s eta 0:00:24
                                              0.3/15.3 MB 1.8 MB/s eta 0:00:09
     -                                        0.4/15.3 MB 2.2 MB/s eta 0:00:07
     -                                        0.6/15.3 MB 2.7 MB/s eta 0:00:06
     --                                       0.8/15.3 MB 3.0 MB/s eta 0:00:05
     --                                       1.0/15.3 MB 3.2 MB/s eta 0:00:05
     --                                       1.1/15.3 MB 3.0 MB/s eta 0:00:05
     ---                                      1.4/15.3 MB 3.1 MB/s eta 0:00:05
     ----                                     1.6/15.3 MB 3.3 MB/s eta 0:00:05
     -----                                    2.2/15.3 MB 3.8 MB/s eta 0:00:04
     -------                                  2.8/15.3 MB 4.4 MB/s eta 0:00:03
     --------                                 3.3/15.3 MB 4.8 MB/s eta 0:00:03
     --------                                 3.4/15.3 MB 4.5 MB/s eta 0:00:03
     ---------                                3.6/15.3 MB 4.5 MB/s eta 0:00:03
     ----------                               3.9/15.3 MB 4.6 MB/s eta 0:00:03
     -----------                              4.3/15.3 MB 4.8 MB/s eta 0:00:03
     ------------                             4.8/15.3 MB 5.1 MB/s eta 0:00:03
     -------------                            5.2/15.3 MB 5.2 MB/s eta 0:00:02
     --------------                           5.6/15.3 MB 5.5 MB/s eta 0:00:02
     ---------------                          6.1/15.3 MB 5.7 MB/s eta 0:00:02
     -----------------                        6.6/15.3 MB 5.9 MB/s eta 0:00:02
     ------------------                       7.1/15.3 MB 6.0 MB/s eta 0:00:02
     -------------------                      7.5/15.3 MB 6.2 MB/s eta 0:00:02
     --------------------                     8.0/15.3 MB 6.3 MB/s eta 0:00:02
     ---------------------                    8.4/15.3 MB 6.4 MB/s eta 0:00:02
     ----------------------                   8.6/15.3 MB 6.4 MB/s eta 0:00:02
     -----------------------                  8.8/15.3 MB 6.3 MB/s eta 0:00:02
     -----------------------                  9.1/15.3 MB 6.3 MB/s eta 0:00:01
     ------------------------                 9.5/15.3 MB 6.3 MB/s eta 0:00:01
     -------------------------                9.9/15.3 MB 6.5 MB/s eta 0:00:01
     ---------------------------              10.4/15.3 MB 6.9 MB/s eta 0:00:01
     ----------------------------             10.9/15.3 MB 7.4 MB/s eta 0:00:01
     -----------------------------            11.3/15.3 MB 7.8 MB/s eta 0:00:01
     ------------------------------           11.6/15.3 MB 8.0 MB/s eta 0:00:01
     -------------------------------          12.1/15.3 MB 8.3 MB/s eta 0:00:01
     --------------------------------         12.4/15.3 MB 8.2 MB/s eta 0:00:01
     ---------------------------------        13.0/15.3 MB 8.2 MB/s eta 0:00:01
     -----------------------------------      13.6/15.3 MB 8.6 MB/s eta 0:00:01
     ------------------------------------     13.9/15.3 MB 8.5 MB/s eta 0:00:01
     ------------------------------------     14.0/15.3 MB 8.3 MB/s eta 0:00:01
     -------------------------------------    14.3/15.3 MB 8.1 MB/s eta 0:00:01
     --------------------------------------   14.7/15.3 MB 8.1 MB/s eta 0:00:01
     ---------------------------------------  15.0/15.3 MB 8.0 MB/s eta 0:00:01
     ---------------------------------------  15.3/15.3 MB 8.0 MB/s eta 0:00:01
     ---------------------------------------  15.3/15.3 MB 8.0 MB/s eta 0:00:01
     ---------------------------------------  15.3/15.3 MB 8.0 MB/s eta 0:00:01
     ---------------------------------------  15.3/15.3 MB 8.0 MB/s eta 0:00:01
     ---------------------------------------  15.3/15.3 MB 8.0 MB/s eta 0:00:01
     ---------------------------------------- 15.3/15.3 MB 6.7 MB/s eta 0:00:00
Requirement already satisfied: tenacity>=6.2.0 in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from plotly) (23.1)
Installing collected packages: plotly
Successfully installed plotly-5.14.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install haversine

Requirement already satisfied: haversine in c:\users\wanderley\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (2.8.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install inflection

Collecting inflectionNote: you may need to restart the kernel to use updated packages.

  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Installing collected packages: inflection
Successfully installed inflection-0.5.1

In [159]:
import pandas as pd
from streamlit_folium import folium_static
import folium
import re
import plotly.express as px
from haversine import haversine
import plotly.graph_objects as go
import inflection

In [160]:
# =-=-=-=-=-=-=-=-=-==-=-=-=-=
# Import dataset
# =-=-=-=-=-=-=-=-=-==-=-=-=-=
dataframe = pd.read_csv('zomato.csv')

df = dataframe.copy()

In [161]:
# Renomear as colunas do DataFrame
def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    
    return df
df = rename_columns(dataframe)

## =-=-=-=-=-=-=-=-=-=-=-=-=-=-=
## Funções
## =-=-=-=-=-=-=-=-=-=-=-=-=-=-=

### =-=-=-=-=-=-=-=-=-==-=-=-=-=
### Limpando os dados
### =-=-=-=-=-=-=-=-=-==-=-=-=-=

In [162]:


# Removendo colunas com poucos valores
    #df1.pop("Is delivering now")
    #df1.pop("Switch to order menu")

# Removendo linhas col valor nulo
linhas_selecionadas = df['cuisines'].notnull()
df = df.loc[linhas_selecionadas, :].copy()

linhas_selecionadas = df['aggregate_rating'].notnull()
df = df.loc[linhas_selecionadas, :].copy()



# Categorizar, todos os restaurantes somente por um tipo de culinária.
df['cuisines'] = df.loc[:, 'cuisines'].apply( lambda x: x.split( ',' )[0] )

In [163]:
# Preenchimento do nome dos países

COUNTRIES = {
            1: "India",
            14: "Australia",
            30: "Brazil",
            37: "Canada",
            94: "Indonesia",
            148: "New Zeland",
            162: "Philippines",
            166: "Qatar",
            184: "Singapure",
            189: "South Africa",
            191: "Sri Lanka",
            208: "Turkey",
            214: "United Arab Emirates",
            215: "England",
            216: "United States of America",
            }

def country_name(country_id):
    dataframe.loc[:, ''].apply( lambda x: x )
    return COUNTRIES[country_id]

for linha in df['country_code']:
    if linha == 1:
        df['country_code'] = df['country_code'].replace({linha: 'India'})
    elif linha == 14:
        df['country_code'] = df['country_code'].replace({linha: 'Australia'})
    elif linha == 30:
        df['country_code'] = df['country_code'].replace({linha: 'Brazil'})    
    elif linha == 37:
        df['country_code'] = df['country_code'].replace({linha: 'Canada'})
    elif linha == 94:
        df['country_code'] = df['country_code'].replace({linha: 'Indonesia'})    
    elif linha == 148:
        df['country_code'] = df['country_code'].replace({linha: 'New Zeland'})
    elif linha == 162:
        df['country_code'] = df['country_code'].replace({linha: 'Philippines'})    
    elif linha == 166:
        df['country_code'] = df['country_code'].replace({linha: 'Qatar'})
    elif linha == 184:
        df['country_code'] = df['country_code'].replace({linha: 'Singapure'}) 
    elif linha == 189:
        df['country_code'] = df['country_code'].replace({linha: 'South Africa'})
    elif linha == 191:
        df['country_code'] = df['country_code'].replace({linha: 'Sri Lanka'})    
    elif linha == 208:
        df['country_code'] = df['country_code'].replace({linha: 'Turkey'})
    elif linha == 214:
        df['country_code'] = df['country_code'].replace({linha: 'United Arab Emirates'})
    elif linha == 215:
        df['country_code'] = df['country_code'].replace({linha: 'England'})
    elif linha == 216:
        df['country_code'] = df['country_code'].replace({linha: 'United States of America'})

In [164]:
# Criação do Tipo de Categoria de Comida

def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"

In [165]:
# Criação do nome das Cores

def color_name(color_code):
    COLORS = {
                "3F7E00": "darkgreen",
                "5BA829": "green",
                "9ACD32": "lightgreen",
                "CDD614": "orange",
                "FFBA00": "red",
                "CBCBC8": "darkred",
                "FF7800": "darkred",
              }
    return COLORS[color_code]

In [173]:
df['restaurant_id'].unique()

array([6310675, 6314542, 6301293, ..., 5923535, 5914190, 5913508],
      dtype=int64)

## _-_-_-_-_-_- Inicío da Estrutura lógica do código _-_-_-_-_-_-

In [15]:
def country_maps( df ):
    """  
        Essa função faz uma maração de pontos em um mapa localizando cada cidade por tráfego

        Sequência de passos:
        1. Criação da várivael dataplot para criar o filtro de cada cidade por tráfego
        2. Criação da váriavel map_ para criar o mapa
        3. Criação do for para fazer a interação do dataplot no map_ para fazer a marção de pontos

        Input: Dataframe
        Output: Map   
    """
    # len(df.loc[:, 'country_code'].unique())
    # Localização central de cada cidade por tipo de tráfego
    data_plot = (df.loc[:, ['city', 
                              'restaurant_id',
                              'latitude',
                              'longitude']]
                      .groupby( ['city', 'restaurant_id'])
                      .median()
                      .reset_index())

    # Desenhar o mapa
    map_ = folium.Map()
    for index, location_info in data_plot.iterrows(): 
        folium.Marker( 
                [location_info['latitude'],
                location_info['longitude']],
                popup=location_info[
                ['city', 'restaurant_id']] ).add_to( map_ )

    folium_static( map_, width=1024, height=600 )

    return None
country_maps( df )

2023-05-17 11:26:36.793
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\Wanderley\AppData\Roaming\jupyterlab-desktop\jlab_server\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

# Geral

In [327]:
df['country_code'].unique()

array(['Philippines', 'Brazil', 'Australia', 'United States of America',
       'Canada', 'Singapure', 'United Arab Emirates', 'India',
       'Indonesia', 'New Zeland', 'England', 'Qatar', 'South Africa',
       'Sri Lanka', 'Turkey'], dtype=object)

## 1. Quantos restaurantes únicos estão registrados?

In [18]:
len(df.loc[:, 'restaurant_id'].unique())

6929

## 2. Quantos países únicos estão registrados?

In [20]:
len(df.loc[:, 'country_code'].unique())

15

## 3. Quantas cidades únicas estão registradas?

In [22]:
len(df.loc[:, 'city'].unique())

125

## 4. Qual o total de avaliações feitas?

In [98]:
len(df.loc[:, 'aggregate_rating'])

7527

## 5. Qual o total de tipos de culinária registrados?

In [23]:
len(df.loc[:, 'cuisines'].unique())

165

# Pais

## 1. Qual o nome do país que possui mais cidades registradas?

In [ ]:
# SA: O país com mais cidades registradas é '...' com '....'
# P: Filtrar as colunas países e cidades, e contar as cidades únicas no países únicos
# E: Usar comandos loc e unique para poara fazer as manipulações em cima city e cuisines

In [26]:
df_aux = (df.loc[:, ['country_code', 'city']]
             .groupby('country_code')
             .count()
             .sort_values(['city'], ascending=False)
             .reset_index())
df_aux.head(1)

  country_code  city
0        India  3496

## Resposta alternativa

In [35]:
paises = df.loc[:, 'country_code'].unique()
count = {}

In [36]:
for pais in paises:
    tipo_pais = df['country_code'] == pais
    count[pais] = len(df.loc[tipo_pais, 'city'])

count

{'Philippines': 88,
 'Brazil': 261,
 'Australia': 180,
 'United States of America': 1391,
 'Canada': 180,
 'Singapure': 82,
 'United Arab Emirates': 334,
 'India': 3496,
 'Indonesia': 82,
 'New Zeland': 253,
 'England': 437,
 'Qatar': 94,
 'South Africa': 382,
 'Sri Lanka': 87,
 'Turkey': 165}

In [37]:
for i in sorted(count, key = count.get, reverse=True):
    print(i, count[i])

India 3496
United States of America 1391
England 437
South Africa 382
United Arab Emirates 334
Brazil 261
New Zeland 253
Australia 180
Canada 180
Turkey 165
Qatar 94
Philippines 88
Sri Lanka 87
Singapure 82
Indonesia 82

## 2. Qual o nome do país que possui mais restaurantes registrados?

In [ ]:
# SA: O país que possuí mais restaurantes registradoes é '...'
# P: Contar cada restaurante de cada país
# E: fazer um for para restauranstes e países
#
#

In [17]:
df_aux = (df.loc[:, ['country_code','restaurant_id']]
             .groupby('country_code')
             .count().sort_values(['restaurant_id'], ascending=False)
             .reset_index())
df_aux.head(5)

               country_code  restaurant_id
0                     India           3496
1  United States of America           1391
2                   England            437
3              South Africa            382
4      United Arab Emirates            334

## Resposta Alternativa

In [39]:
paises = df['country_code'].unique()

In [40]:
for pais in paises:
    tipo_pais = df['country_code'] == pais
    count[pais] = len(df.loc[tipo_pais, 'restaurant_id'])

count

{'Philippines': 88,
 'Brazil': 261,
 'Australia': 180,
 'United States of America': 1391,
 'Canada': 180,
 'Singapure': 82,
 'United Arab Emirates': 334,
 'India': 3496,
 'Indonesia': 82,
 'New Zeland': 253,
 'England': 437,
 'Qatar': 94,
 'South Africa': 382,
 'Sri Lanka': 87,
 'Turkey': 165}

In [41]:
for i in sorted(count, key = count.get, reverse=True):
    print(i, count[i])

India 3496
United States of America 1391
England 437
South Africa 382
United Arab Emirates 334
Brazil 261
New Zeland 253
Australia 180
Canada 180
Turkey 165
Qatar 94
Philippines 88
Sri Lanka 87
Singapure 82
Indonesia 82

## 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

In [ ]:
cols = ['restaurant_id', 'country_code']

In [69]:
df_aux = (df.loc[df['price_range']==4, cols]
            .groupby('country_code')
            .count()
            .sort_values(['restaurant_id'], ascending=False)
            .reset_index())
df_aux.head(1)

               country_code  restaurant_id
0  United States of America            418

## 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

In [214]:
# SA: O país com a maior qtd de tipos de culinária distintos é '...'
# P: Agrupar por Locality e Cuisines e fazer a contagem única dos tipos de culinárias dinstintas por país
# E: Usar comandos groupby, count, nunique
#
#

In [76]:
cols = ['country_code', 'cuisines']
df_aux = (df.loc[:, cols]
            .groupby('country_code')
            .nunique()
            .sort_values(['cuisines'], ascending=False)
            .reset_index())

df_aux.head(1)

  country_code  cuisines
0        India        77

## 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [ ]:
# SA: O país que possui a maior quantidade de avaliações é '...'
# P: Agrupar Locality e Aggregate rating e mostrar o país com a maior quantidade de avaliações
# E: Usar o comando groupbay
#
#

In [80]:
cols = ['country_code', 'aggregate_rating']
df_aux = (df.loc[:, cols]
          .groupby('country_code')
          .count()
          .sort_values(['aggregate_rating'], ascending=False)
          .reset_index())
df_aux.head(1)

  country_code  aggregate_rating
0        India              3496

## 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

In [ ]:
# SA: O país que possuí a maior qtd de restauranes que fazem entregas é '...' 
# P: Agrupar Locality e e mostrar o país com maior qtd de entregas
# E:
#
#

In [160]:
df_aux = (df.loc[df['is_delivering_now']!=0, ['country_code', 'restaurant_id']]
            .groupby('country_code')
            .count()
            .sort_values(['restaurant_id'], ascending=False)
            .reset_index())
df_aux.head(1)

  country_code  restaurant_id
0        India           1247

## 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

In [162]:
cols = ['country_code', 'restaurant_id']

In [163]:
df_aux = (df.loc[df['has_table_booking']!=0, cols]
            .groupby('country_code')
            .count()
            .sort_values(['restaurant_id'], ascending=False)
            .reset_index())
df_aux.head(1)

  country_code  restaurant_id
0        India            291

## 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

In [ ]:
# SA: O país que possuí a maior media de avaliações registradas é '...'
# P: Agrupar Locality e Aggregate rating e tirar a maior média
# E: Usar comandos groupby, mean, max 
#

In [111]:
df_aux = (df.loc[:, ['country_code', 'aggregate_rating']]
            .groupby('country_code')
            .count()
            .sort_values(['aggregate_rating'], ascending=False)
            .reset_index())
df_aux.head(1)

  country_code  aggregate_rating
0        India              3496

## 9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [112]:
df_aux = (df.loc[:, ['country_code', 'aggregate_rating']]
            .groupby('country_code')
            .mean()
            .sort_values(['aggregate_rating'], ascending=False)
            .reset_index())
df_aux.head(1)

  country_code  aggregate_rating
0    Indonesia               4.6

## 10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [113]:
df_aux = (df.loc[:, ['country_code', 'aggregate_rating']]
            .groupby('country_code')
            .mean()
            .sort_values(['aggregate_rating'], ascending=True)
            .reset_index())
df_aux.head(1)

  country_code  aggregate_rating
0       Brazil          3.349425

## 11. Qual a média de preço de um prato para dois por país

In [115]:
df_aux = (df.loc[:, ['average_cost_for_two', 'country_code']]
             .groupby('country_code')
             .mean()
             .reset_index())
df_aux

                country_code  average_cost_for_two
0                  Australia         138959.783333
1                     Brazil            137.375479
2                     Canada             41.861111
3                    England             43.045767
4                      India            703.012014
5                  Indonesia         312682.926829
6                 New Zeland             61.442688
7                Philippines           1211.090909
8                      Qatar            176.648936
9                  Singapure            141.036585
10              South Africa            335.479058
11                 Sri Lanka           2607.471264
12                    Turkey            128.848485
13      United Arab Emirates            158.218563
14  United States of America             54.932423

# Cidade

## 1. Qual o nome da cidade que possui mais restaurantes registrados?

In [ ]:
# SA: A cidade que possuí mais restaurantes registrados é '...'
# P: Agrupar City e Restaurant ID é mostrar a cidade com mais restaurantes 
# E: Usar comandos groupbay e count
#
#

In [19]:
cols = ['city', 'restaurant_id']

In [20]:
df_aux = (df.loc[:, cols].groupby('city')
              .count()
              .sort_values( ['restaurant_id'], ascending=False)
              .reset_index())
df_aux.head(10)

             city  restaurant_id
0          Nagpur             99
1           Surat             95
2      Birmingham             95
3       Abu Dhabi             95
4            Doha             94
5             Goa             94
6       Cape Town             94
7           Patna             93
8  Rio de Janeiro             92
9      Aurangabad             92

## 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

In [ ]:
# SA: O a cidade que possuí mais restaurantes com a nota média maior q 4 é '...'
# P: Agrupar City e Restaurant ID
# fazer a média  em Aggregate rating para saber quais restaurantes tem a média mairo q 4 
# E: Usar comandos groupby, mean()
#
#

In [133]:
cols = ['city', 'restaurant_id']
df_aux = (df.loc[df['aggregate_rating'] > 4.0, cols]
          .groupby('city')
          .count()
          .sort_values(['restaurant_id'], ascending=False)
          .reset_index())
df_aux.head(1)

                city  restaurant_id
0          Bangalore             86
1            Houston             82
2            Chennai             82
3             London             81
4            Kolkata             80
..               ...            ...
116       Roodepoort              1
117        Ghaziabad              1
118            Nasik              1
119         Zirakpur              1
120  Muntinlupa City              1

[121 rows x 2 columns]

### Resposta Alternativa Corrigir

In [126]:
cidades = df.loc[:, 'city'].unique()
count = {}

In [128]:
cols = ['city', 'restaurant_id', 'aggregate_rating']
df_aux = df.loc[:, cols].groupby(['city', 'restaurant_id']).mean().reset_index()

for cidade in cidades:
    if (df_aux['aggregate_rating'] > 4.0).any():
        qtd_cidades = df['city'] == cidade
        count[cidade] = len(df.loc[qtd_cidades, 'restaurant_id'])
count

{'Las Piñas City': 2,
 'Makati City': 17,
 'Mandaluyong City': 10,
 'Manila': 2,
 'Marikina City': 1,
 'Muntinlupa City': 1,
 'Pasay City': 2,
 'Pasig City': 9,
 'Quezon City': 21,
 'San Juan City': 1,
 'Tagaytay City': 4,
 'Taguig City': 18,
 'Brasília': 86,
 'Rio de Janeiro': 92,
 'São Paulo': 83,
 'Adelaide': 60,
 'Atlanta': 60,
 'Austin': 83,
 'Boston': 60,
 'Brisbane': 60,
 'Calgary': 60,
 'Charlotte': 60,
 'Chicago': 60,
 'Dallas': 87,
 'Denver': 60,
 'Detroit': 60,
 'Houston': 87,
 'Las Vegas': 56,
 'Los Angeles': 59,
 'Miami': 60,
 'Montreal': 60,
 'New Orleans': 59,
 'New York City': 60,
 'Ottawa': 60,
 'Perth': 60,
 'Philadelphia': 60,
 'Phoenix': 60,
 'Portland': 60,
 'San Antonio': 60,
 'San Diego': 60,
 'San Francisco': 60,
 'Seattle': 60,
 'Singapore': 82,
 'Washington DC': 60,
 'Abu Dhabi': 95,
 'Dubai': 89,
 'Fujairah': 60,
 'Sharjah': 90,
 'Agra': 88,
 'Ahmedabad': 88,
 'Allahabad': 90,
 'Amritsar': 86,
 'Aurangabad': 92,
 'Bangalore': 87,
 'Bhopal': 88,
 'Bhubaneshwar': 92,
 'Chandigarh': 66,
 'Chennai': 90,
 'Coimbatore': 86,
 'Dehradun': 92,
 'Gandhinagar': 1,
 'Gangtok': 85,
 'Ghaziabad': 1,
 'Goa': 94,
 'Gurgaon': 13,
 'Guwahati': 90,
 'Hyderabad': 83,
 'Indore': 88,
 'Jaipur': 90,
 'Kanpur': 89,
 'Kochi': 90,
 'Kolkata': 91,
 'Lucknow': 91,
 'Ludhiana': 90,
 'Mangalore': 85,
 'Mohali': 18,
 'Mumbai': 86,
 'Mysore': 91,
 'Nagpur': 99,
 'Nashik': 86,
 'Nasik': 2,
 'New Delhi': 68,
 'Noida': 8,
 'Ooty': 89,
 'Panchkula': 7,
 'Patna': 93,
 'Puducherry': 86,
 'Pune': 90,
 'Ranchi': 86,
 'Secunderabad': 5,
 'Shimla': 86,
 'Surat': 95,
 'Thane': 4,
 'Vadodara': 90,
 'Varanasi': 90,
 'Vizag': 90,
 'Zirakpur': 1,
 'Bogor': 2,
 'Jakarta': 78,
 'Tangerang': 2,
 'Auckland': 83,
 'Hamilton': 84,
 'Wellington': 4,
 'Wellington City': 82,
 'Birmingham': 95,
 'Edinburgh': 85,
 'Glasgow': 86,
 'London': 83,
 'Manchester': 88,
 'Doha': 94,
 'Cape Town': 94,
 'Clarens': 26,
 'Durban': 86,
 'East Rand': 3,
 'Inner City': 2,
 'Johannesburg': 28,
 'Johannesburg South': 1,
 'Midrand': 2,
 'Pretoria': 92,
 'Randburg': 7,
 'Roodepoort': 1,
 'Sandton': 40,
 'Colombo': 87,
 'Ankara': 80,
 'İstanbul': 85}

## 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

In [ ]:
# SA: A cidade que possuí mais restauranes com nota média abaixo de 2.5 é '...'
# P: Agrupar cols = ['City', 'Restaurant ID', 'Aggregate rating']
# fazer a média e fazer um for seguido de if com Aggregate ratingm < 2.5
# E:
#
#
#

In [141]:
cols = ['city', 'restaurant_id']
df_aux = (df.loc[df['aggregate_rating'] < 2.5, cols]
          .groupby('city')
          .count()
          .sort_values(['restaurant_id'], ascending=False)
          .reset_index())
df_aux.head(1)

      city  restaurant_id
0  Gangtok             39

### Resposta Alternativa Corrigir

In [ ]:
cidades = df1.loc[:, 'City'].unique()
count = {}

In [ ]:
cols = ['City', 'Restaurant ID', 'Aggregate rating']
df_aux = df1.loc[:, cols].groupby(['City', 'Restaurant ID']).mean().reset_index()

for cidade in cidades:
    if (df_aux['Aggregate rating'] < 4.0).any():
        qtd_cidades = df1['City'] == cidade
        count[cidade] = len(df1.loc[qtd_cidades, 'Restaurant ID'])
count

## 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

In [302]:
# SA: A cidade que possuí o maior valor médio por prato de comida para dois é '...'
# P: Agrupar por cols = ['City', 'Average Cost for two'] e aplicar a média e ordenar pelo maior valor
# E: Usar comandos groupby, mean(), sort_values(ascending=False)
#

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),3,4.6,3F7E00,Excellent,619

In [143]:
cols = ['city', 'average_cost_for_two']
df_aux = (df.loc[:, cols]
             .groupby('city')
             .mean()
             .sort_values(['average_cost_for_two'], ascending=False)
             .reset_index())
df_aux.head(1)

            city  average_cost_for_two
0       Adelaide         416734.133333
1        Jakarta         319615.384615
2      Tangerang         180000.000000
3          Bogor         175000.000000
4     Pasay City           4000.000000
..           ...                   ...
120      Calgary             32.500000
121  Los Angeles             30.000000
122       Denver             29.916667
123      Phoenix             28.000000
124      Detroit             25.750000

[125 rows x 2 columns]

## 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

In [306]:
# SA: A cidade que possuí a maior qtd de tipos de culinárias é:
# P: Agrupar por City e Cuisines e mostar a cidade com maior quantidade de culinárias diferentes
# E: Usar comandos groupby, nunique, sort_values(ascending=False) e head(1)
#
#

In [146]:
cols = ['city', 'cuisines']
df_aux = (df.loc[:, ['city', 'cuisines']]
          .groupby('city')
          .nunique()
          .sort_values(['cuisines'],ascending=False)
          .reset_index())
df_aux.head(1)

         city  cuisines
0  Birmingham        32

## 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

In [154]:
cols = ['city', 'restaurant_id']
df_aux = (df.loc[df['has_table_booking']!=0, ['city', 'restaurant_id']]
          .groupby('city')
          .count()
          .sort_values(['restaurant_id'],ascending=False)
          .reset_index())
df_aux.head(1)

        city  restaurant_id
0  Bangalore             47

## 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

In [157]:
cols = ['city', 'restaurant_id']
df_aux = (df.loc[df['is_delivering_now']!=0, ['city', 'restaurant_id']]
          .groupby('city')
          .count()
          .sort_values(['restaurant_id'],ascending=False)
          .reset_index())
df_aux.head(1)

         city  restaurant_id
0  Aurangabad             53

## 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

In [159]:
cols = ['city', 'restaurant_id']
df_aux = (df.loc[df['has_online_delivery']!=0, ['city', 'restaurant_id']]
          .groupby('city')
          .count()
          .sort_values(['restaurant_id'],ascending=False)
          .reset_index())
df_aux.head(1)

        city  restaurant_id
0  Abu Dhabi             86

# Restaurantes

## 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

In [165]:
# SA: O nome do restaurante que possui a maior quantidade de avaliações é '...'
# P: Agrupar por Restaurant Name e Aggregate rating e contar para saber a maior qtd
# E: Usar os comandos groupby e count
#
df.dtypes

restaurant_id             int64
restaurant_name          object
country_code             object
city                     object
address                  object
locality                 object
locality_verbose         object
longitude               float64
latitude                float64
cuisines                 object
average_cost_for_two      int64
currency                 object
has_table_booking         int64
has_online_delivery       int64
is_delivering_now         int64
switch_to_order_menu      int64
price_range               int64
aggregate_rating        float64
rating_color             object
rating_text              object
votes                     int64
country_codee            object
dtype: object

In [110]:
cols = ['restaurant_name', 'aggregate_rating']
df_aux = (df.loc[:, cols]
             .groupby('restaurant_name')
             .count()
             .sort_values(['aggregate_rating'], ascending=False)
             .reset_index())
df_aux.head(10)

             restaurant_name  aggregate_rating
0             Domino's Pizza               204
1                        KFC                51
2                  Pizza Hut                40
3                 McDonald's                36
4            Barbeque Nation                32
5  AB's - Absolute Barbecues                22
6            Jamie's Italian                17
7                Burger King                16
8        Chili's Grill & Bar                16
9                    Nando's                14

## 2. Qual o nome do restaurante com a maior nota média?

In [451]:
df1.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),3,4.6,3F7E00,Excellent,619

In [107]:
df_aux = (df.loc[:, ['restaurant_id', 'restaurant_name', 'aggregate_rating']]
             .groupby(['restaurant_id', 'restaurant_name'])
             .mean()
             .sort_values(['aggregate_rating'], ascending=False)
             .reset_index())

df_aux2 = df_aux

cols = ['restaurant_id', 'restaurant_name', 'aggregate_rating']
df_aux2 = (df_aux2.loc[df_aux2['aggregate_rating']==4.9, cols]
                  .groupby('restaurant_name')
                  .max()
                  .sort_values(['restaurant_id'], ascending=True)
                  .reset_index())
df_aux2

                    restaurant_name  restaurant_id  aggregate_rating
0                 Indian Grill Room           7528               4.9
1                           Darshan          10021               4.9
2       Byg Brewski Brewing Company          58882               4.9
3    Restaurant Mosaic @ The Orient          75989               4.9
4                     Tapri Central         101212               4.9
..                              ...            ...               ...
209                       Sushi Go!       18885812               4.9
210                           Chool       18903417               4.9
211                   Angrezi Dhaba       18938127               4.9
212                  Coal Barbecues       18938720               4.9
213                         Baithak       18972215               4.9

[214 rows x 3 columns]

## 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

In [393]:
# SA: O nome do restaurante que possuí o maior valor de um prato para duas pessoas é '...'
# P: Agrupar por Restaurant Name e Average Cost for two e mostrar o maior valor 
# E: Usar os comandos groupby
#
#

In [193]:
cols =  ['restaurant_name', 'average_cost_for_two']
df_aux = (df.loc[:, cols].sort_values(['average_cost_for_two'], ascending=False))
df_aux.head(1)

                  restaurant_name  average_cost_for_two
385  d'Arry's Verandah Restaurant              25000017

## 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?

In [401]:
# SA: O nome do restaurante de culinária brasileira com menor média de avaliação é '...'
# P: Filtrar somente os restaurentes 'Restaurant Name' de culinária brasileira 'Cuisines'
# e achar a menor média Aggregate rating
# E: Usar
#
#

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),3,4.6,3F7E00,Excellent,619

In [206]:
cols =  ['restaurant_name', 'aggregate_rating']
df_aux = (df.loc[df['country_code']=='Brazil', cols]
          .groupby('restaurant_name')
          .mean()
          .sort_values(['aggregate_rating'], ascending=True)
          .reset_index())
df_aux.head(1)

  restaurant_name  aggregate_rating
0          Nippon               0.0

## 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

In [207]:
cols =  ['restaurant_name', 'aggregate_rating']
df_aux = (df.loc[df['country_code']=='Brazil', cols]
          .groupby('restaurant_name')
          .mean()
          .sort_values(['aggregate_rating'], ascending=False)
          .reset_index())
df_aux.head(1)

       restaurant_name  aggregate_rating
0  Skye - Hotel Unique               4.9

## 6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

In [210]:
# Comparando os grágicos, aceitar pedidos online tem um aumento insiguinificativo de avaliações

restaurant_id             int64
restaurant_name          object
country_code             object
city                     object
address                  object
locality                 object
locality_verbose         object
longitude               float64
latitude                float64
cuisines                 object
average_cost_for_two      int64
currency                 object
has_table_booking         int64
has_online_delivery       int64
is_delivering_now         int64
switch_to_order_menu      int64
price_range               int64
aggregate_rating        float64
rating_color             object
rating_text              object
votes                     int64
country_codee            object
dtype: object

In [232]:
# has_online_delivery
cols = ['restaurant_name','aggregate_rating']

df_aux = (df.loc[df['has_online_delivery'] ==1, cols]
            .groupby('restaurant_name')
            .count()
            .sort_values(['aggregate_rating'], ascending=False)
            .reset_index())
df_aux.loc[:, 'aggregate_rating'].mean()

      restaurant_id  aggregate_rating
0           3900267                 3
1          18691230                 3
2           2500383                 2
3           3900259                 2
4            113433                 2
...             ...               ...
2423        2800012                 1
2424        2800013                 1
2425        2800014                 1
2426        2800015                 1
2427       19008239                 1

[2428 rows x 2 columns]

In [235]:
# has_online_delivery
cols = ['restaurant_name','aggregate_rating']

df_aux = (df.loc[df['has_online_delivery'] == 0, cols]
            .groupby('restaurant_name')
            .count()
            .sort_values(['aggregate_rating'], ascending=False)
            .reset_index())
df_aux.loc[:, 'aggregate_rating'].mean()

1.2211610957527017

## 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

In [233]:
# Os restaurantes que fazem reservas possuem um valor médio maior para um prato para duas pessoas

restaurant_id             int64
restaurant_name          object
country_code             object
city                     object
address                  object
locality                 object
locality_verbose         object
longitude               float64
latitude                float64
cuisines                 object
average_cost_for_two      int64
currency                 object
has_table_booking         int64
has_online_delivery       int64
is_delivering_now         int64
switch_to_order_menu      int64
price_range               int64
aggregate_rating        float64
rating_color             object
rating_text              object
votes                     int64
country_codee            object
dtype: object

In [252]:
# has_online_delivery
cols = ['average_cost_for_two', 'restaurant_name']

df_aux = (df.loc[df['has_table_booking'] == 1, cols]
            .groupby('restaurant_name')
            .mean()
            .sort_values(['average_cost_for_two'], ascending=False)
            .reset_index())
df_aux.loc[:, 'average_cost_for_two'].mean()

83511.53668314444

In [249]:
# has_online_delivery
cols = ['average_cost_for_two', 'restaurant_name']

df_aux = (df.loc[df['has_table_booking'] == 0, cols]
            .groupby('restaurant_name')
            .mean()
            .sort_values(['average_cost_for_two'], ascending=False)
            .reset_index())
df_aux.loc[:, 'average_cost_for_two'].mean()

2899.152228404627

## 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)

In [ ]:
# As churrascarias BBQ possuem um valor médio de prato para duas pessoas maior que os restauranste de 
# culinária Japonesa

In [268]:
cols = ['average_cost_for_two', 'restaurant_name']
df_aux = (df.loc[df['cuisines']=='BBQ', cols]
            .groupby('restaurant_name')
            .mean()
            .sort_values(['average_cost_for_two'], ascending=False)
            .reset_index())
df_aux.loc[:, 'average_cost_for_two'].mean()

5356.0344827586205

In [269]:
cols = ['average_cost_for_two', 'restaurant_name']
df_aux = (df.loc[df['cuisines']=='Japanese', cols]
            .groupby('restaurant_name')
            .mean()
            .sort_values(['average_cost_for_two'], ascending=False)
            .reset_index())
df_aux.loc[:, 'average_cost_for_two'].mean()

31960.65783664459

# Tipos de Culinária

In [11]:
df.head(2)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619

## 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

In [34]:
cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux = (df.loc[df['cuisines']=='Italian', cols]
             .groupby(['restaurant_id', 'restaurant_name'])
             .mean()
             .sort_values(['aggregate_rating', 'restaurant_id'], ascending=False)
             .reset_index())
df_aux2 = df_aux

cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux2 = (df_aux2.loc[df_aux2['aggregate_rating']==4.9, cols]
                  .groupby('restaurant_name')
                  .max()
                  .sort_values(['restaurant_id'], ascending=True)
                  .reset_index())
valor = df_aux2.iloc[0,0], df_aux2.iloc[0,2]
valor

('Darshan', 4.9)

## 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [287]:
cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux = (df.loc[df['cuisines']=='Italian', cols]
             .groupby(['restaurant_id', 'restaurant_name'])
             .mean()
             .sort_values(['aggregate_rating', 'restaurant_id'], ascending=True)
             .reset_index())
df_aux.head(1)

   restaurant_id            restaurant_name  aggregate_rating
0        6600542           Avenida Paulista               0.0
1        6714499               Ristorantino               0.0
2        6715707                        Più               0.0
3        6800666    Le Delicatezze Di Bruno               0.0
4        7304910  Bene - Sheraton Rio Hotel               0.0

## 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [83]:
cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux = (df.loc[df['cuisines']=='American', cols]
             .groupby(['restaurant_id', 'restaurant_name'])
             .mean()
             .sort_values(['aggregate_rating', 'restaurant_id'], ascending=False)
             .reset_index())

   restaurant_id       restaurant_name  aggregate_rating
0       18484349  Cut By Wolfgang Puck               4.9

In [85]:
df_aux2 = df_aux

cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux2 = (df_aux2.loc[df_aux2['aggregate_rating']==4.9, cols]
                  .groupby('restaurant_name')
                  .max()
                  .sort_values(['restaurant_id'], ascending=True)
                  .reset_index())
valor = df_aux2.iloc[0,0], df_aux2.iloc[0,2]
valor

('Burger & Lobster', 4.9)

## 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [290]:
cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux = (df.loc[df['cuisines']=='American', cols]
             .groupby(['restaurant_id', 'restaurant_name'])
             .mean()
             .sort_values(['aggregate_rating', 'restaurant_id'], ascending=True)
             .reset_index())
df_aux.head(1)

   restaurant_id            restaurant_name  aggregate_rating
0       18756337          Alston Bar & Beef               0.0
1       18445965  Guy Fieri's Kitchen & Bar               2.2
2        7303748                      Bob's               2.6
3        6502573             Hard Rock Cafe               2.8
4        7100971           Thunderbird Cafe               3.2

## 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [92]:
cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux = (df.loc[df['cuisines']=='Arabian', cols]
             .groupby(['restaurant_id', 'restaurant_name'])
             .mean()
             .sort_values(['aggregate_rating', 'restaurant_id'], ascending=False)
             .reset_index())
df_aux.head()

   restaurant_id     restaurant_name  aggregate_rating
0       18535007            Mandi@36               4.7
1       18770281         Three Kings               4.5
2        6200166         Wok of Fame               4.5
3        5600517  Madfoon Al Khaimah               4.5
4        5601340      Aroos Damascus               4.4

In [101]:
def top_restaurant_arabe_n(df):
    cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
    df_aux = (df.loc[df['cuisines']=='Arabian', cols]
                 .groupby(['restaurant_id', 'restaurant_name'])
                 .mean()
                 .sort_values(['aggregate_rating', 'restaurant_id'], ascending=False)
                 .reset_index())
    nome = df_aux.iloc[0,1]
    return nome
top_restaurant_arabe_n(df)

'Mandi@36'

## 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [296]:
cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux = (df.loc[df['cuisines']=='Arabian', cols]
             .groupby(['restaurant_id', 'restaurant_name'])
             .mean()
             .sort_values(['aggregate_rating', 'restaurant_id'], ascending=True)
             .reset_index())
df_aux.head(1)

   restaurant_id   restaurant_name  aggregate_rating
0        6706513             Raful               0.0
1        6601535     Empório Árabe               2.7
2        6600547      Salim Sou Eu               3.1
3       18698592         V Empire                3.2
4       18698769  Abad Hot Chicken               3.2

## 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [298]:
cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux = (df.loc[df['cuisines']=='Japanese', cols]
             .groupby(['restaurant_id', 'restaurant_name'])
             .mean()
             .sort_values(['aggregate_rating', 'restaurant_id'], ascending=False)
             .reset_index())
df_aux.head(1)

   restaurant_id           restaurant_name  aggregate_rating
0       18885812                 Sushi Go!               4.9
1       18880385   Gyu - Kaku Japanese BBQ               4.9
2       18793437   Gyu - Kaku Japanese BBQ               4.9
3       18695427         Mendokoro Ramenba               4.9
4       18615392  WAKI Japanese BBQ Dining               4.9

## 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [299]:
cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux = (df.loc[df['cuisines']=='Japanese', cols]
             .groupby(['restaurant_id', 'restaurant_name'])
             .mean()
             .sort_values(['aggregate_rating', 'restaurant_id'], ascending=True)
             .reset_index())
df_aux.head(1)

   restaurant_id restaurant_name  aggregate_rating
0        6600203    Banzai Sushi               0.0

## 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome dorestaurante com a maior média de avaliação?

In [302]:
cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux = (df.loc[df['cuisines']=='Home-made', cols]
             .groupby(['restaurant_id', 'restaurant_name'])
             .mean()
             .sort_values(['aggregate_rating', 'restaurant_id'], ascending=False)
             .reset_index())
df_aux.head(1)

   restaurant_id   restaurant_name  aggregate_rating
0        5914190  Kanaat Lokantası               4.0

## 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [301]:
cols = ['restaurant_name', 'restaurant_id', 'aggregate_rating']
df_aux = (df.loc[df['cuisines']=='Home-made', cols]
             .groupby(['restaurant_id', 'restaurant_name'])
             .mean()
             .sort_values(['aggregate_rating', 'restaurant_id'], ascending=True)
             .reset_index())
df_aux.head(1)

   restaurant_id      restaurant_name  aggregate_rating
0        6007184  GurMekan Restaurant               3.7

## 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

In [306]:
df_aux = (df.loc[:, ['cuisines', 'average_cost_for_two']]
            .groupby('cuisines')
            .mean()
            .sort_values(['average_cost_for_two'], ascending=False)
            .reset_index())
df_aux.head(1)

            cuisines  average_cost_for_two
0  Modern Australian          1.470693e+06

## 12. Qual o tipo de culinária que possui a maior nota média?

In [111]:
df_aux = (df.loc[:, ['cuisines', 'aggregate_rating']]
            .groupby('cuisines')
            .mean()
            .sort_values(['aggregate_rating'], ascending=False)
            .reset_index())
df_aux.head(10)

     cuisines  aggregate_rating
0      Others             4.900
1       Ramen             4.800
2    Egyptian             4.800
3     Ottoman             4.800
4       Sunda             4.750
5  Fresh Fish             4.750
6      Polish             4.700
7      Author             4.700
8     Burmese             4.650
9    Filipino             4.624

## 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [325]:
cols = ['restaurant_id', 'cuisines']
condicao = (df['is_delivering_now']!=0) & (df['has_online_delivery'] !=0)
df_aux = (df.loc[condicao, cols]
            .groupby('cuisines')
            .count()
            .sort_values(['restaurant_id'], ascending=False)
            .reset_index())
df_aux.head(1)

       cuisines  restaurant_id
0  North Indian            343

In [157]:
restaurantes = [,,,,,,]
cols = ['restaurant_name', 'country_code', 'city', 'cuisines', 'average_cost_for_two', 'aggregate_rating', 'votes']
data = df.loc[df['restaurant_id'] == 6102616, cols]

,restaurant_name,country_code,city,cuisines,average_cost_for_two,aggregate_rating,votes
6648,Burger & Lobster,England,London,American,45,4.9,453

In [158]:
df_aux1 = df.loc[df['restaurant_id'] == 6102616, cols]
df_aux2 = df.loc[df['restaurant_id'] == 6107336, cols]
df_aux3 = df.loc[df['restaurant_id'] == 6116563, cols]
df_aux4 = df.loc[df['restaurant_id'] == 6501298, cols]
df_aux5 = df.loc[df['restaurant_id'] == 6801374, cols]
df_aux6 = df.loc[df['restaurant_id'] == 7300004, cols]
df_aux7 = df.loc[df['restaurant_id'] == 7300955, cols]
df_aux8 = df.loc[df['restaurant_id'] == 7302898, cols]
df_aux9 = df.loc[df['restaurant_id'] == 7700796, cols]
df_aux10 = df.loc[df['restaurant_id'] == 16587684, cols]

pd.concat([df_aux1, df_aux2, df_aux3, df_aux4, df_aux5, df_aux6, df_aux7, df_aux8, df_aux9, df_aux10])

,restaurant_name,country_code,city,cuisines,average_cost_for_two,aggregate_rating,votes
6648,Burger & Lobster,England,London,American,45,4.9,453
6633,Sushi Samba,England,London,Japanese,110,4.9,484
6659,Chotto Matte,England,London,Japanese,70,4.9,361
7233,Cafe Del Sol Classico,South Africa,Randburg,Italian,400,4.9,715
6760,Solita,England,Manchester,American,50,4.9,138
240,Sushi Leblon,Brazil,Rio de Janeiro,Japanese,250,4.9,33
207,Braseiro da Gávea,Brazil,Rio de Janeiro,Brazilian,100,4.9,47
208,Braseiro da Gávea,Brazil,Rio de Janeiro,Brazilian,100,4.9,47
254,Aprazível,Brazil,Rio de Janeiro,Brazilian,300,4.9,63
6574,Celino's,England,Glasgow,Italian,35,4.9,79
6575,Celino's,England,Glasgow,Italian,35,4.9,79
366,Andre's Cucina & Polenta Bar,Australia,Adelaide,Italian,100,4.9,840

In [151]:
pd.concat([df_aux, df_aux1])

,restaurant_name,country_code,city,cuisines,average_cost_for_two,aggregate_rating,votes
6648,Burger & Lobster,England,London,American,45,4.9,453
6633,Sushi Samba,England,London,Japanese,110,4.9,484